

body{
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
    background-color: skyblue;
}
.card{
    background-image: url('bg.jpg');
    /* background-image: url('bgcloud.jpg'); */
    background-position: center;
    background-size: cover;
    color: black;
}